@model List<Casgem_Portfolio.Models.Entities.TblAboutDetailSecond>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}

<h2>Hakkımda Detay Sayfası İkinci Bölüm</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Küçük Başlık</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Yetenek 1 Başlık</th>
        <th>Yetenek 1 Açıklama</th>
        <th>Yetenek 2 Başlık</th>
        <th>Yetenek 2 Açıklama</th>
        <th>Yetenek 3 Başlık</th>
        <th>Yetenek 3 Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.SmallTitle</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Skill1Title</td>
            <td>@item.Skill1Description</td>
            <td>@item.Skill2Title</td>
            <td>@item.Skill2Description</td>
            <td>@item.Skill3Title</td>
            <td>@item.Skill3Description</td>
            <td><a href="/AdminAboutPageAboutSecondPart/DeleteAbout/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminAboutPageAboutSecondPart/UpdateAbout/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
@if (ViewBag.countAbout == 0)
{
    <a href="/AdminAboutPageAboutSecondPart/AddAbout/" class="btn btn-outline-primary">Yeni Öne Çıkan İçerik Ekle</a>
}


