
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Portfolio");

<body>
    <!-- header -->
    @Html.Action("PartialNavbar", "Portfolio")
    <!-- //header -->
    <!-- about breadcrumb -->
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-2">
                <h2 class="title">Hakkımda</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Portfolio/Index/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımda </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!-- about page about section -->
    @Html.Action("PartialAbout")
    <!-- //about page about section -->
    <!-- about page second section -->
    @Html.Action("PartialAboutSecond")
    <!-- //about page about section -->
    <!-- about page third section -->
    @Html.Action("PartialAchievementShort")
    <!-- about page third section -->
    <!-- achievements block -->
    @Html.Action("PartialAchievement")
    <!-- //achievements block -->
    <!-- Footer -->
    @Html.Action("PartialFooter", "Portfolio")
    <!-- //Footer -->
    <!-- all js scripts and files here -->

    @Html.Action("PartialScripts", "Portfolio")

</body>

</html>